mat-sidenav.sidenav {
  min-width: var(--main-sidemenu-size);
  max-width: var(--main-sidemenu-size);
}

#main-content-container {
  height: 100vh;
}

.main-content {
  padding-top: var(--main-header-size);
}
