<mat-sidenav-container class="sidenav-container">

  <!-- Side-menu -->
  <mat-sidenav #sideMenu class="sidenav border-0" [mode]="mobileQueryL.matches ? 'over' : 'side'" [opened]="!mobileQueryL.matches" [fixedInViewport]="true" [autoFocus]="false">
    <a13-side-menu></a13-side-menu>
  </mat-sidenav>

  <!-- Content -->
  <mat-sidenav-content id="main-content-container" [ngClass]="(sidenavStatus$ | async) === true ? 'sidenav-opened' : 'sidenav-closed'">
    <div class="main-content overflow-scroll-container" fxLayout="column">
      <!-- Header -->
      <a13-header></a13-header>

      <!-- Router -->
      <main class="main-content-bg overflow-scroll mat-typography">
        <router-outlet></router-outlet>
      </main>

      <!-- Footer toolbar -->
      <a13-footer-toolbar [sidenav]="sideMenu"></a13-footer-toolbar>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
