<mat-sidenav-container class="sidenav-container">

  <!-- Side-menu -->
  <mat-sidenav #sideMenu class="sidenav border-0" [mode]="over" [fixedInViewport]="true">
    <a13-side-menu></a13-side-menu>
  </mat-sidenav>

  <!-- Content -->
  <mat-sidenav-content id="main-content-container">
    <div class="main-content" fxLayout="column">
      <!-- Header -->
      <a13-header class="mat-elevation-z4"></a13-header>

      <!-- Router -->
      <main class="router-container">
        <router-outlet></router-outlet>
      </main>

      <!-- Footer toolbar -->
      <a13-footer-toolbar class="mat-elevation-z4" [sidenav]="sideMenu"></a13-footer-toolbar>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>