<div fxLayout="row" fxLayoutGap="2rem">
  <div class="avatar">
    <img [src]="resourceImagePath + (student?.avatar || 'user-default') + '.svg'" alt="{{student?.avatar}}">
  </div>
  <div class="info pt-1">
    <h3 class="mat-h2">{{student?.name}}</h3>
    <div fxLayout="row wrap">
      <span class="mat-small mat-hint mr-q"
        *ngFor="let subject of student?.musical.subjects; let i=index; let first = first">
        <span [ngClass]="{'txt-lowercase': !first}">{{'SUBJECT.' + subject.viewValue | translate}}</span>
        <span>{{mark(student?.musical.subjects, i) | translate}}</span>
      </span>
    </div>
  </div>
</div>