<!-- Profile container -->
<div class="profile-container">

  <header class="container profile-header mat-card mat-elevation-z0">

    <div class="mt-h" fxLayout="row" fxLayoutGap="2rem" fxLayoutGap.xs="1rem">

      <!-- Avatar -->
      <a flex="grow" matRipple class="avatar border-theme">
        <img class="avatar-image" [src]="srcImage({img: student?.avatar})" alt="{{student?.avatar}}">
      </a>

      <!-- Student information -->
      <div fxFlex class="info">

        <!-- Subjects -->
        <div class="mb-q" fxLayout="row wrap" fxLayoutAlign="start center">
          <div class="badge mat-hint" *ngFor="let subject of student?.musical?.subjects; let i=index; let first = first">
            <span>{{'SUBJECT.' + subject.viewValue | translate}}</span>
          </div>
        </div>

        <!-- More Info -->
        <!-- <a class="link mat-small pointer" (click)="isInfoOpened=!isInfoOpened">
          {{isInfoOpened | stringBy:'SHOW_LESS':'SHOW_MORE' | translate}}
        </a> -->

        <!-- Number info -->
        <div fxLayout="row" fxLayoutGap="1rem">
          <div *ngIf="student?.age" class="mat-small">
            <span class="mb-0">{{student?.age}}</span>
            <span class="mat-hint"> {{'YEARS' | translate}}</span>
          </div>
          <div *ngIf="student?.academicCourse" class="mat-small">
            <span class="mb-0">{{student?.academicCourse?.viewValue}}</span>
            <span class="mat-hint">
              {{student?.academicCourse?.id | group: academicCourseList | translate | lowercase}}</span>
          </div>
          <div *ngIf="student?.musical?.course" class="mat-small">
            <span class="mb-0">{{student?.musical?.course.viewValue}}</span>
            <span class="mat-hint">
              {{student?.musical?.course?.id | group: conservatoryCourseList | translate | lowercase}}</span>
          </div>
        </div>

        <!-- Teacher -->
        <div *ngIf="student?.musical?.teacher" class="mat-small">
          <span class="mat-hint">
            {{'TEACHER' | translate}}: </span>
          <span class="mb-0">{{student?.musical?.teacher}}</span>
        </div>

        <!-- Instrument -->
        <div *ngIf="student?.musical?.teacher" class="mat-small">
          <span class="mat-hint">
            {{'FORM.INSTRUMENT' | translate}}: </span>
          <span class="mb-0">{{'INSTRUMENT.' + student?.musical?.instrument?.viewValue | translate}}</span>
        </div>
      </div>
    </div>

  </header>

  <mat-tab-group mat-stretch-tabs color="primary">
    <mat-tab>
      <ng-template mat-tab-label>
        <fa-icon class="mat-icon-20" icon="calendar-day"></fa-icon>
      </ng-template>
      <div class="container">
        <a13-day-card></a13-day-card>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <fa-icon class="mat-icon-20" icon="poll"></fa-icon>
      </ng-template>
      {{'MARKS' | translate}}
    </mat-tab>
  </mat-tab-group>
</div>