mat-form-field {
  width: 100%;
  padding: 0 5px;

  .avatar-container {
    position: relative;
    top:  3px;
  }
}

.full {
  width: 100%;
  max-width: 100%;
}

.angular-editor {
  width: 100%;
  padding: 0 5px;
  box-sizing: border-box;
}