<form [formGroup]="dayFormGroup" autocomplete="off" class="mat-typography">
  <header class="dialog-header padding-content-h pt-1 pb-1" fxLayout="row" fxLayoutAlign="space-between center">
    <!-- Title -->
    <h2 class="m-0 dialog-title truncate" fxFlex="calc(100% - 140px)">
      <!-- {{(data.isClone ? 'DAY.CLONE' : data.idDay ? 'DAY.EDIT' : 'DAY.ADD') | translate}} -->
      {{(dayFormGroup?.value.dayTitleCtrl ? dayFormGroup?.value.dayTitleCtrl : data.isClone ? 'DAY.CLONE' : data.idDay ? 'DAY.EDIT' : 'DAY.ADD') | translate}}
    </h2>

    <!-- Favorite -->
    <button type="button" mat-button (click)="toggleBooleanCrl('dayFavoriteCtrl')" [matTooltip]="'MSG.MARK_DAY_FAV' | translate" [matTooltipShowDelay]="650" fxFlex="nogrow">
      <span class="mat-small mat-hint mr-q"> {{'FAVORITE' | translate}} </span>
      <fa-icon [ngClass]="{'star-active': dayFormGroup?.value.dayFavoriteCtrl}" class="mat-icon-22 mat-hint" icon="star"></fa-icon>
    </button>
  </header>

  <section class="dialog-content padding-content-h" fxLayout="column" fxLayoutAlign="start">
    <p class="mb-1 pb-h pl-q pr-q mat-hint">{{'DAY.CREATION_SUBTITLE' | translate}}</p>

    <div class="mb-q" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">

      <!-- Student -->
      <a13-select-student [ngClass]="{'form-error': dayFormGroup.controls.dayStudentCtrl.hasError('required') && dayFormGroup.controls.dayStudentCtrl.touched}" fxFlex="50" formControlName="dayStudentCtrl">
      </a13-select-student>

      <!-- Date -->
      <mat-form-field class="pl-h" fxFlex="50" [appearance]="'inputAppearance' | settingValue">
        <mat-label>{{'FORM.DATE' | translate}}</mat-label>
        <input class="pl-h" matInput required formControlName="dayDateCtrl" [matDatepicker]="dp">
        <mat-datepicker #dp></mat-datepicker>
        <mat-datepicker-toggle class="mat-hint" matPrefix [for]="dp">
        </mat-datepicker-toggle>
        <!-- <mat-hint align="start">{{'HINT.BIRTHDATE' | translate}}</mat-hint> -->
      </mat-form-field>
    </div>

    <!-- Title -->
    <mat-form-field class="" [appearance]="'inputAppearance' | settingValue" fxFlex="100">
      <mat-label>{{'FORM.TITLE' | translate}}</mat-label>
      <input matInput #title required formControlName="dayTitleCtrl" attr.aria-label="{{'FORM.TITLE' | translate}}" autocomplete="off">
      <fa-icon matPrefix class="mat-icon-20 mat-hint pr-1" icon="font"></fa-icon>
      <mat-hint align="start">{{'HINT.TITLE' | translate}}</mat-hint>
      <!-- <mat-hint align="end">{{title.value.length}} / {{maxlengthTitle}}</mat-hint> -->
    </mat-form-field>

    <!-- Content -->
    <div class="angular-editor mt-1 pt-h pb-h " [ngClass]="{'ng-invalid': this.dayFormGroup.controls.dayContentCtrl.invalid, 'ng-touched': this.dayFormGroup.controls.dayStudentCtrl.touched}">
      <ckeditor id="ckeditor" [editor]="ckeditor" [config]="editorConfig" formControlName="dayContentCtrl">
      </ckeditor>
    </div>

  </section>

  <footer class="dialog-footer padding-content-h pt-1 pb-1" fxLayout="row" fxLayoutAlign="space-between center">

    <!-- Archived -->
    <button type="button" mat-button (click)="toggleBooleanCrl('dayArchivedCtrl')" [matTooltip]="'ARCHIVE_DAY' | translate" [matTooltipShowDelay]="650">
      <fa-icon class="mat-icon-20 mat-hint" [ngClass]="{'error-color': dayFormGroup?.value.dayArchivedCtrl}" [icon]="dayFormGroup?.value.dayArchivedCtrl ? 'box' : 'box-open'"></fa-icon>
      <span class="mat-small mat-hint ml-q"> {{(dayFormGroup?.value.dayArchivedCtrl ? 'ARCHIVED'  : 'ARCHIVE') | translate}} </span>
    </button>

    <!-- Action buttons -->
    <div>
      <button mat-button color="warn" attr.aria-label="{{'CANCEL' | translate}}" (click)="cancel()">{{'CANCEL' | translate}}</button>
      <button class="ml-h" mat-flat-button [color]="data.isClone || !data.idDay? 'primary' : 'accent'" (click)="save()" attr.aria-label="{{'SAVE' | translate}}">{{(data.isClone ? 'CLONE' : data.idDay ? 'SAVE' : 'DAY.ADD') | translate}}</button>
    </div>
  </footer>

</form>
