<div class="mb-1" fxLayout="row" fxLayoutAlign="space-between center">
  <!-- Title -->
  <h2 class="m-0" mat-dialog-title>{{(data.idDay ? 'DAY.EDIT' : 'DAY.ADD') | translate}}</h2>

  <!-- Close dialog -->
  <button class="button-close" mat-icon-button mat-dialog-close attr.aria-label="{{'CANCEL' | translate}}">
    <fa-icon class="mat-icon-22 mat-hint" icon="times"></fa-icon>
  </button>
</div>

<mat-dialog-content class="mat-typography">

  <form [formGroup]="dayFormGroup" autocomplete="off">

    <div class="mb-1 f-wrap" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center">

      <div class="f-wrap" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxFlex
        ngClass.xs="full">

        <!-- Student -->
        <mat-form-field appearance="outline" fxFlex="50">
          <mat-label>{{'FORM.STUDENT' | translate}}</mat-label>
          <div class="avatar-container mt-h" matPrefix>
            <img class="avatar avatar-xs p-0 mr-1"
              [src]="srcImage({img: dayFormGroup?.controls?.dayStudentCtrl?.value?.personal?.avatar})" alt="Avatar">
          </div>
          <mat-select required formControlName="dayStudentCtrl" [compareWith]="equals"
            attr.aria-label="{{'FORM.STUDENT' | translate}}">
            <mat-option>-- {{'NONE' | translate}} --</mat-option>
            <mat-option *ngFor="let student of studentList" [value]="student">
              <span fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <img class="avatar avatar-xs p-0 mr-1" [src]="srcImage({img: student?.personal?.avatar})" alt="Avatar">
                <span>{{student?.personal?.name}}</span>
              </span>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Date -->
        <mat-form-field ngClass.xs="mb-1" appearance="outline" fxFlex="50">
          <mat-label>{{'FORM.DATE' | translate}}</mat-label>
          <input class="pl-h" matInput required formControlName="dayDateCtrl" [matDatepicker]="dp">
          <mat-datepicker #dp></mat-datepicker>
          <mat-datepicker-toggle class="mat-hint" matPrefix [for]="dp">
          </mat-datepicker-toggle>
          <mat-hint align="start">{{'HINT.BIRTHDATE' | translate}}</mat-hint>
        </mat-form-field>

        <!-- Title -->
        <mat-form-field appearance="outline" fxFlex="100">
          <mat-label>{{'FORM.TITLE' | translate}}</mat-label>
          <input matInput #title required formControlName="dayTitleCtrl" attr.aria-label="{{'FORM.TITLE' | translate}}"
            maxlength="{{maxlengthTitle}}" autocomplete="off">
          <fa-icon matPrefix class="mat-icon-20 mat-hint pr-1" icon="font"></fa-icon>
          <mat-hint align="start">{{'HINT.TITLE' | translate}}</mat-hint>
          <mat-hint align="end">{{title.value.length}} / {{maxlengthTitle}}</mat-hint>
        </mat-form-field>

        <!-- Content -->
        <div class="angular-editor mt-1 pt-h pb-h">
          <ckeditor id="ckeditor" [editor]="ckeditor" [config]="editorConfig" formControlName="dayContentCtrl">
          </ckeditor>
        </div>
      </div>
    </div>
  </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button color="warn" mat-dialog-close
    attr.aria-label="{{'CANCEL' | translate}}">{{'CANCEL' | translate}}</button>
  <button class="ml-h" mat-flat-button color="primary" mat-dialog-close [disabled]="dayFormGroup.invalid"
    (click)="save()" attr.aria-label="{{'SAVE' | translate}}">{{'SAVE' | translate}}</button>
</mat-dialog-actions>