<div class="mb-1">
  <div *ngIf="headerService.searchStatus">
    <!-- Filter -->
    <mat-form-field [appearance]="'inputAppearance' | settingValue">
      <mat-label>{{'SEARCH_DAY' | translate}}</mat-label>
      <input id="searchInputFilter" matInput [(ngModel)]="dayFilter" (ngModelChange)="goToQuery()" attr.aria-label="{{'SEARCH_DAY' | translate}}" autocomplete="off">
      <fa-icon *ngIf="!dayFilter" matSuffix class="mat-icon-20 mat-hint mr-h" icon="search"></fa-icon>
      <button class="reset-button" mat-button matSuffix *ngIf="dayFilter" mat-icon-button attr.aria-label="{{'RESET_FILTER' | translate}}" (click)="resetFilter()">
        <fa-icon class="mat-icon-20 mat-hint" icon="times"></fa-icon>
      </button>
    </mat-form-field>

    <!-- Dates -->
    <div class="dates-container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutGap="8px">

      <div class="dates" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px" fxFlex="50" fxFlex.xs="100">
        <mat-form-field [appearance]="'inputAppearance' | settingValue" fxFlex="50">
          <mat-label>{{'FORM.SINCE' | translate}}</mat-label>
          <input class="pl-h" matInput [matDatepicker]="dateSincePicker" [(ngModel)]="dateSince" (ngModelChange)="selectDate()" [max]="dateUntil">
          <mat-datepicker #dateSincePicker></mat-datepicker>
          <mat-datepicker-toggle class="mat-hint" matPrefix [for]="dateSincePicker">
          </mat-datepicker-toggle>
          <button class="reset-button" mat-button matSuffix *ngIf="dateSince" mat-icon-button attr.aria-label="{{'RESET_FILTER' | translate}}" (click)="resetDate('dateSince')">
            <fa-icon class="mat-icon-20 mat-hint" icon="times"></fa-icon>
          </button>
        </mat-form-field>

        <mat-form-field [appearance]="'inputAppearance' | settingValue" fxFlex="50">
          <mat-label>{{'FORM.UNTIL' | translate}}</mat-label>
          <input class="pl-h" matInput [matDatepicker]="dateUntilPicker" [(ngModel)]="dateUntil" (ngModelChange)="selectDate()" [min]="dateSince">
          <mat-datepicker #dateUntilPicker></mat-datepicker>
          <mat-datepicker-toggle class="mat-hint" matPrefix [for]="dateUntilPicker">
          </mat-datepicker-toggle>
          <button class="reset-button" mat-button matSuffix *ngIf="dateUntil" mat-icon-button attr.aria-label="{{'RESET_FILTER' | translate}}" (click)="resetDate('dateUntil')">
            <fa-icon class="mat-icon-20 mat-hint" icon="times"></fa-icon>
          </button>
        </mat-form-field>
      </div>

      <!-- Select quick date -->
      <div [ngClass.xs]="{'quick-dates-container': true}" fxLayout="row" fxLayoutAlign="space-between center" fxFlex.gt-xs="50" fxFlex.xs="100%">
        <mat-form-field [appearance]="'inputAppearance' | settingValue">
          <mat-label>{{'FORM.CUSTOM_DATES' | translate}}</mat-label>
          <mat-select attr.aria-label="{{'FORM.CUSTOM_DATES' | translate}}" [(ngModel)]="quickDate" (ngModelChange)="selectQuickDate()">
            <mat-option *ngFor="let date of quickDates" [value]="date">
              {{date.name | translate}}
            </mat-option>
          </mat-select>
          <fa-icon matPrefix class="mat-icon-20 mat-hint pr-h" icon="calendar"></fa-icon>
        </mat-form-field>

        <button class="reset-button ml-h mb-1" mat-button mat-icon-button attr.aria-label="{{'SORT_ALPHABETICALLY' | translate}}" (click)="sort()">
          <fa-icon class="mat-icon-20 mat-hint" [ngClass]="{'color-primary': sortDirection}" [icon]="sortDirection ? 'sort-amount-down' : 'sort-amount-up-alt'"></fa-icon>
        </button>
      </div>

    </div>

    <div *ngIf="!hideArchivedFilter" class="mt-h mb-2" fxLayout="row" fxLayoutAlign="end center">
      <fa-icon class="mat-icon-20 mat-hint pr-1" icon="box" [ngClass]="{'archived': showArchived}"></fa-icon>
      <mat-slide-toggle labelPosition="before" (change)="goToQuery()" [(ngModel)]="showArchived">
        {{'FORM.SHOW_ARCHIVED' | translate}}
      </mat-slide-toggle>
    </div>
  </div>

  <!-- clean all filters -->
  <div *ngIf="dayFilter || dateSince || dateUntil || showArchived || quickDate || sortDirection" fxLayout="row" fxLayoutAlign="space-between center">
    <span fxFlex></span>
    <button mat-button color="warn" class="badge badge-fill warn mat-small pointer" (click)="cleanFilters()">
      {{'CLEAN_ALL_FILTERS' | translate}}
      <fa-icon class="ml-q mat-icon-14" icon="times"></fa-icon>
    </button>
  </div>
</div>
