.dates,
mat-form-field {
  width: 100% !important;
}

.dates-container {
  margin-top: -10px;
}

.quick-dates-container {
  margin-top: -17px;
  width: 100% !important;
}

.archived {
  color: var(--light-theme-warn);
}

.selects {
  margin-top: -10px;
}
