<mat-card class="p1 mtH mbH mat-elevation-z0" [routerLink]="[ '/aula/alumno', student.id ]">
  <div fxLayout="row" fxLayoutAlign="space-between center">

    <div class="row mrH mlH" fxLayout="row" fxLayoutAlign="start center">
      <!-- Avatar -->
      <img class="user-avatar-image mr1" [src]="student.avatar || 'assets/svgs/user-default.svg'" alt="Avatar">

      <!-- Name & Surname -->
      <div fxLayout="column" fxLayoutAlign="space-around start">
        <span>{{student?.name}}</span>
        <span class="secondary-text">{{student?.surname}}</span>
      </div>
    </div>

    <!-- Phone -->
    <div class="row mrH mlH" fxLayout="row" fxLayoutAlign="start center">
      <mat-icon class="mat-icon-24 mrH">phone</mat-icon>
      <div class="row mrH mlH" fxLayout="column" fxLayoutAlign="space-around start">
        <span class="name">{{student?.phones[0].number}}</span>
        <span class="secondary-text">{{student?.phones[0].name}}</span>
      </div>
    </div>

    <!-- Spacer -->
    <span class="spacer row"></span>

    <!-- Type -->
    <div class="mrH mlH" fxLayout="row" fxLayoutAlign="start center">
      <mat-chip-list matTooltip="{{student?.type}}" [matTooltipPosition]="'above'">
        <mat-chip selected
          [ngClass]="{'bg-primary': student?.type === 'FEMAE', 'bg-accent': student?.type === 'Particular'}">
          <mat-icon>{{student?.type === 'FEMAE' ? 'school' : 'home'}}</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>

  </div>
</mat-card>