mat-card {
  transition: all .2s;
  cursor: pointer;

  &:hover {
    outline: -webkit-focus-ring-color auto 5px;
  }
}

.user-avatar-image {
  max-width: 40px;
  width: 100%;
}

.badge {
  color: white;
  padding: 3px 5px;
  font-size: 12px;
  border-radius: 3px;
}