<mat-card class="p1 mtH mbH mat-elevation-z0" matRipple [routerLink]="[ '/aula/alumno', student.id ]">
  <div fxLayout="row" fxLayoutAlign="space-between center">

    <div class="row mrH mlH" fxLayout="row" fxLayoutAlign="start center">
      <!-- Avatar -->
      <img class="user-avatar-image mr1" [src]="student.avatar || 'assets/svgs/user-default.svg'" alt="Avatar">

      <!-- Name & Surname -->
      <div fxLayout="column" fxLayoutAlign="space-around start">
        <span>{{student?.name}}</span>
        <span class="mat-small light-text">{{student?.surname}}</span>
      </div>
    </div>

    <!-- Type -->
    <div class="mrH mlH" fxLayout="row" fxLayoutAlign="start center">
      <div class="badge truncate"
        [ngClass]="{'bg-primary': student?.type === 'Femae', 'bg-accent': student?.type === 'Particular'}">
        {{student?.type}}
      </div>
    </div>

  </div>
</mat-card>
