<section class="container container-padd">
  <div class="container-max sm">

    <a13-student-filters [studentList]="studentList" (studentListFilter)="studentListFiltered = $event"></a13-student-filters>

    <!-- Students list-->
    <div class="pb-5 mt-2" *ngIf="studentListFiltered?.length">

      <!-- Favorites -->
      <div class="mb-1">
        <button mat-button color="primary" (click)="showMore('favorite')">
          {{toggleConfig.favorite.text | translate}}
          <span class="translucide"> | {{(studentListFiltered | agroupBy: 'favorite').length}}</span>
          <fa-icon class="ml-q mat-icon-14" [icon]="toggleConfig.favorite.icon"></fa-icon>
        </button>
        <ng-container *ngIf="toggleConfig.favorite.show">
          <ng-container *ngFor="let student of studentListFiltered | agroupBy: 'favorite'">
            <a13-student-card [(student)]="student"></a13-student-card>
          </ng-container>
        </ng-container>
      </div>

      <!-- Rest students -->
      <div class="mb-1">
        <button mat-button class="mat-hint" (click)="showMore('rest')">
          {{toggleConfig.rest.text | translate}}
          <span class="translucide"> | {{(studentListFiltered | agroupBy).length}}</span>
          <fa-icon class="ml-q mat-icon-14" [icon]="toggleConfig.rest.icon"></fa-icon>
        </button>
        <ng-container *ngIf="toggleConfig.rest.show">
          <ng-container *ngFor="let student of studentListFiltered | agroupBy">
            <a13-student-card [(student)]="student"></a13-student-card>
          </ng-container>
        </ng-container>
      </div>

      <!-- Archived students -->
      <div class="mb-1">
        <button mat-button color="warn" (click)="showMore('archived')">
          {{toggleConfig.archived.text | translate}}
          <span class="translucide"> | {{(studentListFiltered | agroupBy: 'archived').length}}</span>
          <fa-icon class="ml-q mat-icon-14" [icon]="toggleConfig.archived.icon"></fa-icon>
        </button>
        <ng-container *ngIf="toggleConfig.archived.show">
          <ng-container *ngFor="let student of studentListFiltered | agroupBy: 'archived'">
            <a13-student-card [(student)]="student"></a13-student-card>
          </ng-container>
        </ng-container>
      </div>
    </div>

    <!-- Empty list -->
    <h3 *ngIf="!studentListFiltered?.length" class="txt-5 mt-3 txt-center mat-hint">{{'MSG.NOTHING_MAN' | translate}}
    </h3>

    <!-- Floating button -->
    <a13-floating-button text="ADD_STUDENT" icon="user-plus" (click)="createStudent()"></a13-floating-button>
  </div>
</section>
