<section class="container">

  <!-- Filter -->
  <mat-form-field appearance="outline">
    <mat-label>{{'SEARCH_STUDENT' | translate}}</mat-label>
    <input matInput [(ngModel)]="studentFilter" (ngModelChange)="searchStudent($event)"
      attr.aria-label="{{'SEARCH_STUDENT' | translate}}" autocomplete="off">
    <fa-icon *ngIf="!studentFilter" matSuffix class="mat-icon-20 mat-hint mr-h" icon="search"></fa-icon>
    <button class="reset-button" mat-button matSuffix *ngIf="studentFilter" mat-icon-button
      attr.aria-label="{{'RESET_FILTER' | translate}}" (click)="resetFilter()">
      <fa-icon class="mat-icon-20 mat-hint" icon="times"></fa-icon>
    </button>
  </mat-form-field>

  <!-- Students -->
  <ng-container *ngFor="let student of studentListFiltered">
    <a13-student-card [(student)]="student"></a13-student-card>
  </ng-container>

  <!-- Empty list -->
  <h3 *ngIf="!studentListFiltered.length" class="mat-h1 mt-3 txt-center mat-hint">{{'MSG.NOTHING_MAN' | translate}}</h3>

  <!-- Floating button -->
  <a13-floating-button text="ADD_STUDENT" icon="add" (click)="createStudent()"></a13-floating-button>
</section>