.header {
  width: 100%;
  height: var(--main-header-size);
  position: relative;
  top: 0;
  z-index: 1000;
  background-color: var(--main-primary-color);

  .menu-button {
    color: white;
  }

  h1 a {
    color: white;
    text-decoration: none;
  }
}