<mat-toolbar class="header" [color]="themeName">

  <!-- Menu button -->
  <button class="menu-button mlQ mr1" mat-icon-button (click)="toggleSinenav()" aria-label="Abrir/Cerrar menú">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Title -->
  <h1 class="mat-h1">
    <a [routerLink]="[ '/aula' ]">{{title}}</a>
  </h1>

  <!-- Spacer -->
  <div class="spacer"></div>

  <!-- Sign Out -->
  <button class="menu-button mrQ" mat-button (click)="signOut()" aria-label="Cerrar sesión">
    <span class="mat-body mrH">Cerrar sesión</span>
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>