<mat-toolbar class="header" [color]="themeName">

  <!-- Botón menu -->
  <button class="menu-button mlQ mr1" mat-icon-button (click)="toggleSinenav()" aria-label="Abrir/Cerrar menú">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Title -->
  <h1 class="mat-h1">
    <a [routerLink]="[ '/aula' ]">{{title}}</a>
  </h1>

  <!-- Spacer -->
  <div class="spacer"></div>

  <!-- Toogle theme -->
  <button class="menu-button mrQ" mat-icon-button (click)="toggleTheme()" aria-label="Cambiar tema"
  matTooltip="Cambiar tema" matTooltipPosition="left">
    <mat-icon>{{themeIcon}}</mat-icon>
  </button>
</mat-toolbar>