.header {
  width: 100%;
  height: var(--header-height);
  position: relative;
  top: 0;
  z-index: 1000;
  background-color: var(--accent-color);

  .menu-button {
    color: white;
  }

  h1 a {
    color: white;
    text-decoration: none;
  }
}