mat-form-field {
  width: 100%;
  min-width: 100px;

  button[mat-icon-button] {
    position: relative;
    top: -8px;

    fa-icon {
      top: 0;
      margin-left: 0;
    }
  }
}

.sign-button {
  height: 48px;
}
