<form [formGroup]="formGroup" class="pt-h">

  <p class="mat-body mb-1 block">{{'MSG.FORGOT_PASSWORD_TITLE' | translate}}</p>

  <!-- Email -->
  <mat-form-field class="mb-q" [appearance]="'inputAppearance' | settingValue">
    <mat-label>{{'EMAIL' | translate}}</mat-label>
    <input matInput type="text" required formControlName="email">
    <button mat-button *ngIf="formGroup.controls.email.value" matSuffix mat-icon-button attr.aria-label="{{'RESET_EMAIL' | translate}}" (click)="formGroup.controls.email.reset()">
      <fa-icon class="mat-icon-24 mat-hint" icon="times"></fa-icon>
    </button>
    <mat-error *ngIf="hasError('email','required')">{{'ERR.EMAIL_REQUIRED' | translate}}</mat-error>
    <mat-error *ngIf="hasError('email','pattern')">{{'ERR.EMAIL_INVALID' | translate}}</mat-error>
  </mat-form-field>

  <!-- Forgot button -->
  <div class="mb-1" fxLayout="row" fxLayoutAlign="space-between center">
    <button class="sign-button" fxFlex="100" mat-flat-button color="warn" (click)="forgotPassword()" attr.arial-label="{{'SIGN.FORGOT'| translate}}">
      <div class="pt-H">{{'SIGN.FORGOT' | translate}}</div>
    </button>
  </div>
</form>

<!-- Go to SignIn button -->
<div class="mt-1" fxLayout="row" fxLayoutAlign="end center">
  <span class="mat-body mat-hint mr-h">{{'MSG.YES_ACCOUNT' | translate}}</span>
  <button mat-button color="accent" [routerLink]="['/authentication/signIn']" attr.arial-label="{{'SIGN.UP' | translate}}">{{'SIGN.IN' | translate}}</button>
</div>
