<form [formGroup]="formGroup" class="pt-h">

  <!-- Email -->
  <mat-form-field class="mb-q" [appearance]="'inputAppearance' | settingValue">
    <mat-label>{{'EMAIL' | translate}}</mat-label>
    <input matInput tabindex="1" type="text" required formControlName="email">
    <button mat-button *ngIf="formGroup.controls.email.value" matSuffix mat-icon-button attr.aria-label="{{'RESET_EMAIL' | translate}}" (click)="formGroup.controls.email.reset()">
      <fa-icon class="mat-icon-20 mat-hint" icon="times"></fa-icon>
    </button>
    <mat-error *ngIf="hasError('email','required')">{{'ERR.EMAIL_REQUIRED' | translate}}</mat-error>
    <mat-error *ngIf="hasError('email','pattern')">{{'ERR.EMAIL_INVALID' | translate}}</mat-error>
  </mat-form-field>

  <div fxLayout="row" fxLayoutGap=".5rem">

    <!-- Password -->
    <mat-form-field class="mb-h" [appearance]="'inputAppearance' | settingValue">
      <mat-label>{{'PASSWORD' | translate}}</mat-label>
      <input matInput tabindex="2" type="{{passwordType}}" required formControlName="password">
      <button mat-button *ngIf="formGroup.controls.password.value" matSuffix mat-icon-button attr.aria-label="{{(passwordType === 'password' ? 'SHOW_PASSWORD' : 'HIDE_PASSWORD') | translate}}" (click)="togglePasswordVisibility()">
        <fa-icon class="mat-icon-20 mat-hint" [icon]="passwordType === 'password' ? 'eye' : 'eye-slash'">
        </fa-icon>
      </button>
      <mat-error *ngIf="hasError('password','required')">{{'ERR.PASSWORD_REQUIRED' | translate}}</mat-error>
      <mat-error *ngIf="hasError('password','minlength')">{{'ERR.PASSWORD_INVALID' | translate}}</mat-error>
    </mat-form-field>

    <!-- Confirm password -->
    <mat-form-field class="mb-h" [appearance]="'inputAppearance' | settingValue">
      <mat-label>{{'CONFIRM_PASSWORD' | translate}}</mat-label>
      <input matInput tabindex="3" type="{{passwordType}}" required formControlName="confirmPassword">
      <button mat-button *ngIf="formGroup.controls.confirmPassword.value" matSuffix mat-icon-button attr.aria-label="{{(passwordType === 'password' ? 'SHOW_PASSWORD' : 'HIDE_PASSWORD') | translate}}" (click)="togglePasswordVisibility()">
        <fa-icon class="mat-icon-20 mat-hint" [icon]="passwordType === 'password' ? 'eye' : 'eye-slash'">
        </fa-icon>
      </button>
      <mat-error *ngIf="hasError('confirmPassword','required')">{{'ERR.CONFIRM_PASSWORD_REQUIRED' | translate}}</mat-error>
      <mat-error *ngIf="hasError('confirmPassword','notSame')">{{'ERR.CONFIRM_PASSWORD_NOT_MATCH' | translate}}</mat-error>
    </mat-form-field>

  </div>

  <!-- Sign Up button -->
  <div class="mb-1" action="row" fxLayoutAlign="space-between center">
    <button tabindex="4" class="sign-button" fxFlex="100" mat-flat-button color="primary" (click)="signUpWithEmail()" attr.arial-label="{{'SIGN.UP'| translate}}">
      <div class="pt-H">{{'SIGN.UP' | translate}}</div>
    </button>
  </div>
</form>

<!-- SignUp RS buttons -->
<div fxLayout="row" fxLayoutGap="1rem">
  <button tabindex="{{5+i}}" fxFlex="33" *ngFor="let social of signInSocialNetworks; let i = index" mat-stroked-button (click)="signUpWithSocial(social.id)" attr.arial-label="{{social.txt | translate}}">
    <img [src]="'/assets/svgs/social/' + social.icon + '.svg'" class="mat-icon-24" [alt]="'Logo ' + social.id">
  </button>
</div>

<!-- Go to SignIn button -->
<div class="mt-1" fxLayout="row" fxLayoutAlign="end center">
  <span class="mat-body mat-hint mr-h">{{'MSG.YES_ACCOUNT' | translate}}</span>
  <button tabindex="8" mat-button color="accent" [routerLink]="['/authentication/signIn']" attr.arial-label="{{'SIGN.UP' | translate}}">{{'SIGN.IN' | translate}}</button>
</div>
