<!-- Header -->
<a13-header></a13-header>

<!-- Sidebar container -->
<mat-sidenav-container class="sidenav-container">

  <!-- Side-menu -->
  <mat-sidenav class="sidenav border0" #leftSidenav mode="side" opened [fixedInViewport]="true" [fixedTopGap]="64">
    <a13-side-menu></a13-side-menu>
  </mat-sidenav>

  <!-- Content -->
  <mat-sidenav-content [@onMainContentChange]="onSideNavChange ? 'open': 'close'">
    <div class="main-content">
      <section class="aula-container">
        <router-outlet></router-outlet>
      </section>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>