// Profile container
.profile-container {
  max-height: calc(100vh - var(--main-header-size) * 2);

  .avatar {
    max-width: 36px;
    max-height: 36px;
  }

  .student-name {
    outline: 0;
  }

  .day-container {
    padding: var(--main-padding-size);
  }
}