<section class="container container-nopadd">
  <div class="profile-container">
    <header class="profile-header shadow-bottom p-1 mat-card mat-elevation-z0">

      <!-- Skeleton -->
      <ng-template #daySkeleton>
        <div fxLayout="row" fxLayoutAlign="start center" class="skeleton container-max sm mt-h">
          <div>
            <ngx-skeleton-loader class="skeleton" count="1" appearance="circle" [animation]="skeleton.animation" [theme]="skeleton.circleSmall.theme"></ngx-skeleton-loader>
          </div>
          <div fxFlex="100">
            <ng-container *ngFor="let loader of skeleton.linesSmall">
              <ngx-skeleton-loader class="skeleton" fxLayout="column" [animation]="skeleton.animation" [theme]="loader.theme"></ngx-skeleton-loader>
            </ng-container>
          </div>
        </div>
      </ng-template>

      <div *ngIf="data$ | async as day; else daySkeleton" class="container-max sm" fxLayout="row" fxLayoutAlign="space-between center">

        <!-- Header info -->
        <div fxLayout="row" fxLayoutAlign="start center">
          <a class="avatar border-theme mr-h aumente" [routerLink]="[ '/classroom/student', day?.studentId ]">
            <img class="avatar-image p-0 mr-1" [src]="day?.student?.personal?.avatar | srcImage" alt="Avatar">
          </a>

          <div class="header-info" fxLayout="column" fxLayoutAlign="center">

            <!-- Archived -->
            <div *ngIf="day?.archived" class="mat-small error mb-q" (dblclick)="tapToEdit(day)">
              <fa-icon class="mr-q mat-icon-14 error-color" icon="box"></fa-icon>
              <span class="error-color"> {{'ARCHIVED' | translate}} </span>
            </div>

            <a class="mat-h3 mb-0 pointer student-name" [routerLink]="[ '/classroom/student', day?.studentId ]">{{day?.student?.personal?.name}}</a>
            <span class="mat-small mat-hint" (dblclick)="tapToEdit(day)">{{day?.date | date: 'fullDate'}}</span>
          </div>
        </div>

        <!-- Action button -->
        <div fxLayout="row" fxLayoutAlign="end center">
          <button class="action-button" mat-icon-button (click)="quickAction(day, 'favorite')" [matTooltip]="'MSG.MARK_DAY_FAV' | translate" [matTooltipShowDelay]="300">
            <fa-icon [ngClass]="{'star-active': day?.favorite}" class="mat-icon-18 mat-hint" icon="star"></fa-icon>
          </button>
        </div>
      </div>
    </header>

    <!-- Content -->
    <div class="container-padd">
      <div class="container-max sm p-h">

        <!-- Skeleton -->
        <ng-template #dayContentSkeleton>
          <ng-container *ngFor="let loader of skeleton.text">
            <ngx-skeleton-loader class="skeleton" fxLayout="column" [animation]="skeleton.animation" [theme]="loader.theme"></ngx-skeleton-loader>
          </ng-container>
        </ng-template>

        <div *ngIf="data$ | async as day; else dayContentSkeleton" [innerHTML]="day?.content" (dblclick)="tapToEdit(day)"></div>
      </div>
    </div>
  </div>
</section>
