<ng-template #showSkeleton>
  <!-- <h1>LOADING</h1> -->
</ng-template>

<section class="container container-nopadd" *ngIf="data$ | async as day else showSkeleton">
  <div class="profile-container">
    <header class="profile-header shadow-bottom p-1 mat-card mat-elevation-z0">
      <div class="container-max sm" *ngIf="day?.student" fxLayout="row" fxLayoutAlign="space-between center">

        <!-- Header info -->
        <div fxLayout="row" fxLayoutAlign="start center">
          <a class="avatar border-theme mr-h aumente" [routerLink]="[ '/aula/alumno', day?.studentId ]">
            <img class="avatar-image p-0 mr-1" [src]="day?.student?.personal?.avatar | srcImage" alt="Avatar">
          </a>

          <div class="header-info" fxLayout="column" fxLayoutAlign="center">

            <!-- Archived -->
            <div *ngIf="day?.archived" class="mat-small error mb-q">
              <fa-icon class="mr-q mat-icon-14 error-color" icon="box"></fa-icon>
              <span class="error-color"> {{'ARCHIVED' | translate}} </span>
            </div>

            <a class="mat-h3 mb-0 pointer student-name" [routerLink]="[ '/aula/alumno', day?.studentId ]">{{day?.student?.personal?.name}}</a>
            <span class="mat-small mat-hint">{{day?.date | date: 'fullDate'}}</span>
          </div>
        </div>

        <!-- Action button -->
        <div fxLayout="row" fxLayoutAlign="end center">
          <button class="action-button" mat-icon-button (click)="quickAction(day, 'favorite')" [matTooltip]="'MSG.MARK_DAY_FAV' | translate" [matTooltipShowDelay]="650">
            <fa-icon [ngClass]="{'star-active': day?.favorite}" class="mat-icon-18 mat-hint" icon="star"></fa-icon>
          </button>
        </div>
      </div>
    </header>

    <!-- Content -->
    <div class="container-padd">
      <div class="container-max sm p-h" [innerHTML]="day?.content"></div>
    </div>
  </div>
</section>
