.floating-button {
  position: fixed;
  bottom: 5rem;
  right: calc((100% - var(--main-sm-size)) / 2 + var(--main-padding-size));
  z-index: 1;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  cursor: pointer;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;

  &:hover {
    animation-name: pulse-animation, pulse-main;
  }

  &.disabled:hover {
    animation-name: pulse-animation, pulse-disable;
  }

  fa-icon {
    position: relative;
    top: 14px;
    left: 2px;
  }

  .text-button {
    display: none;
    position: relative;
    top: 1px;
    margin-left: 5px;
  }
}

.text-button {
  position: relative;
  top: 1px;
  margin-left: 5px;
}

@media only screen and (max-width: 960px) {
  .floating-button {
    right: 1.75rem;
  }
}
