.floating-button {
  position: fixed;
  bottom: 5rem;
  right: 1.75rem;
  z-index: 1;
  height: 4rem;
  border-radius: 50%;

  fa-icon {
    position: relative;
    top: 0px;
    left: 2px;
  }

  .text-button {
    display: none;
    position: relative;
    top: 1px;
    margin-left: 5px;
  }
}

.text-button {
  position: relative;
  top: 1px;
  margin-left: 5px;
}
