mat-card {

  &:focus {
    outline: -webkit-focus-ring-color auto 0;
  }  

  button {
    opacity: .65;

    &:hover {
      opacity: 1;
    }
  }
}

.user-avatar-image {
  max-width: 40px;
  width: 100%;
  border-radius: 50%;
}
