mat-card {

  &:focus {
    outline: -webkit-focus-ring-color auto 0;
  }
}

.user-avatar-image {
  max-width: 40px;
  width: 100%;
  border-radius: 50%;
}

.star-active {
  color: var(--other-warning-color)
}