<mat-card class="p-1 mt-h mb-h mat-elevation-z0" matRipple [routerLink]="[ '/aula/alumno', student.id ]">
  <div fxLayout="row" fxLayoutAlign="space-between center">

    <div class="row mr-h ml-h" fxLayout="row" fxLayoutAlign="start center">

      <!-- Avatar -->
      <img class="user-avatar-image mr-1" [src]="resourceImagePath + student?.avatar + '.svg'" alt="Avatar">

      <!-- Name & Surname -->
      <div fxLayout="column" fxLayoutAlign="space-around start">
        <span>{{student?.name}}</span>
        <div fxLayout="row wrap">
          <span class="mat-small mat-hint mr-q"
            *ngFor="let subject of student.musical.subjects; let i=index; let first = first">
            <span [ngClass]="{'txt-lowercase': !first}">{{'SUBJECT.' + subject.viewValue | translate}}</span>
            <span>{{getPuntuation(student?.musical.subjects, i) | translate}}</span>
          </span>
        </div>
      </div>
    </div>

    <!-- Type -->
    <div class="mr-h ml-h" fxLayout="row" fxLayoutAlign="start center">
      <div class="badge"
        [ngClass]="{'primary-500': student?.label === 'Femae', 'accent-500': student?.label === 'Particular'}">
        {{student?.label || 'LABEL_NO' | translate}}
      </div>
    </div>

  </div>
</mat-card>