<mat-card class="p-1 pl-h pr-h mt-h mb-h mat-elevation-z0 aumente" [ngClass]="{'archived-student': student?.archived}" matRipple (click)="goTo()">
  <div fxLayout="row" fxLayoutAlign="space-between center">

    <div class="mr-h ml-h" fxLayout="row" fxLayoutAlign="start center">

      <!-- Avatar -->
      <img class="aumente aumente-big user-avatar-image mr-1" [src]="student?.personal?.avatar | srcImage" alt="Avatar">

      <!-- Name & Surname -->
      <div fxLayout="column" fxLayoutAlign="space-around start">

        <!-- Archived -->
        <div *ngIf="student?.archived" class="mat-small error mb-h">
          <fa-icon class="mr-q mat-icon-14 error-color" icon="box"></fa-icon>
          <span class="error-color"> {{'STUDENT_ARCHIVED' | translate}} </span>
        </div>

        <!-- Name -->
        <span>{{student?.personal?.name}}</span>
        <div fxLayout="row wrap">
          <span class="mat-small mat-hint mr-q" *ngFor="let subject of student?.subjects; let i=index; let first = first">
            <span [ngClass]="{'txt-lowercase': !first}">{{subject.name}}</span>
            <span>{{mark(student?.subjects, i) | translate}}</span>
          </span>
        </div>
      </div>
    </div>

    <!-- Action button -->
    <div fxFlex="nogrow" fxLayout="row" fxLayoutAlign="space-between center">

      <!-- Edit button -->
      <button class="action-button" mat-icon-button (click)="editStudent($event)">
        <fa-icon class="mat-icon-18 mat-hint" icon="pen"></fa-icon>
      </button>

      <!-- Fav button -->
      <button class="action-button" mat-icon-button (click)="fav($event)">
        <fa-icon [ngClass]="{'star-active': student?.favorite}" class="mat-icon-18 mat-hint" icon="star"></fa-icon>
      </button>
    </div>

  </div>
</mat-card>
