<section class="login" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2rem">

  <!-- Background -->
  <div class="login-background"></div>

  <!-- Form -->
  <div class="login-container mat-elevation-z5" fxFlex.xs="100">

    <!-- Logo -->
    <div class="image-logo" fxLayout="row" fxLayoutAlign="center center">
      <img class="image-logo-icon" src="/assets/svgs/logo-blue.svg" alt="Logo Aula 13">
    </div>

    <!-- Title -->
    <h1 class="m-0 mb-h txt-thin">{{title}}</h1>
    <span class="mat-body mat-hint mb-1 block">{{'APP_SUBTITLE' | translate}}</span>

    <!-- Form -->
    <form [formGroup]="formGroup" class="login-form pt-h">

      <!-- Email -->
      <mat-form-field class="mb-1" appearance="outline">
        <mat-label>{{'EMAIL' | translate}}</mat-label>
        <input matInput type="text" required formControlName="email">
        <button mat-button *ngIf="formGroup.controls['email'].value" matSuffix mat-icon-button
          attr.aria-label="{{'RESET_EMAIL' | translate}}" (click)="formGroup.controls['email'].reset()">
          <fa-icon class="mat-icon-24 mat-hint" icon="times"></fa-icon>
        </button>
        <mat-error *ngIf="!formGroup.controls['email'].valid">
          {{getError('email') | translate}}
        </mat-error>
      </mat-form-field>

      <div class="mb-1" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutGap="1rem">

        <!-- Password -->
        <mat-form-field appearance="outline">
          <mat-label>{{'PASSWORD' | translate}}</mat-label>
          <input matInput type="{{passwordType}}" required formControlName="password">
          <button mat-button *ngIf="formGroup.controls['password'].value" matSuffix mat-icon-button
            attr.aria-label="{{(passwordType === 'password' ? 'SHOW_PASSWORD' : 'HIDE_PASSWORD') | translate}}"
            (click)="togglePasswordVisibility()">
            <fa-icon class="mat-icon-24 mat-hint" icon="{{passwordType === 'password' ? 'eye' : 'eye-slash'}}">
            </fa-icon>
          </button>
          <mat-error *ngIf="!formGroup.controls['password'].valid">
            {{getError('password') | translate}}
          </mat-error>
        </mat-form-field>

        <!-- Confirm password -->
        <mat-form-field *ngIf="!login" appearance="outline">
          <mat-label>{{'CONFIRM_PASSWORD' | translate}}</mat-label>
          <input matInput type="{{passwordType}}" required formControlName="confirmPassword">
          <button mat-button *ngIf="formGroup.controls['confirmPassword'].value" matSuffix mat-icon-button
            attr.aria-label="{{(passwordType === 'password' ? 'SHOW_PASSWORD' : 'HIDE_PASSWORD') | translate}}"
            (click)="togglePasswordVisibility()">
            <fa-icon class="mat-icon-24 mat-hint" icon="{{passwordType === 'password' ? 'eye' : 'eye-slash'}}">
            </fa-icon>
          </button>
          <mat-error *ngIf="!formGroup.controls['confirmPassword'].valid">
            {{getError('confirmPassword') | translate}}
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Login button -->
      <div class="mb-1" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1rem">
        <button class="login-button" fxFlex="100" mat-flat-button [color]="getSignOptions().button.color"
          (click)="loginWithEmail()" attr.arial-label="{{getSignOptions().button.text | translate}}">
          <div class="pt-H">{{getSignOptions().button.text | translate}}</div>
        </button>
      </div>
    </form>

    <!-- Login RS buttons -->
    <div fxLayout="row" fxLayoutGap="1rem">
      <button fxFlex="100" mat-stroked-button (click)="loginWithGoogle()"
        attr.arial-label="{{'SIGN.IN_WITH_GOOGLE' | translate}}">
        <img src="/assets/svgs/social/google-icon.svg" class="mat-icon-24" alt="Logo Google">
      </button>
      <button fxFlex="100" mat-stroked-button (click)="loginWithFacebook()"
        attr.arial-label="{{'SIGN.IN_WITH_FACEBOOK' | translate}}">
        <img src="/assets/svgs/social/facebook-icon.svg" class="mat-icon-24" alt="Logo Facebook">
      </button>
      <button fxFlex="100" mat-stroked-button (click)="loginWithTwitter()"
        attr.arial-label="{{'SIGN.IN_WITH_TWITTER' | translate}}">
        <img src="/assets/svgs/social/twitter-icon.svg" class="mat-icon-24" alt="Logo Twitter">
      </button>
    </div>

    <!-- Register button -->
    <div class="mt-1" fxLayout="row" fxLayoutAlign="space-between center">
      <span class="mat-body mat-hint">{{getSignOptions().footer.hint | translate}}</span>
      <button mat-button [color]="getSignOptions().footer.color" (click)="toggleSign()"
        attr.arial-label="{{getSignOptions().footer.text | translate}}">{{getSignOptions().footer.text | translate}}</button>
    </div>
  </div>
</section>