<div class="sidenav-container">
  <div class="side-menu-container" fxLayout="column" fxLayoutGap="10px">

    <!-- User -->
    <div class="mt-1 mb-2" fxLayout="column" fxLayoutAlign="center center">
      <a matRipple class="avatar avatar-button border-theme border-theme-button">
        <img class="avatar-image" [src]="user?.avatar | srcImage" alt="Avatar">
      </a>
      <div class="mt-1" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">


      </div>
    </div>

    <!-- Menu -->
    <div class="overflow-scroll-container">
      <mat-nav-list class="m-0 p-0 mb-1 overflow-scroll" *ngFor="let menu of menuItems; index as i">
        <div class="overflow-scroll-content nav-list">
          <ng-container *ngFor="let item of menu">
            <a mat-list-item (click)="onItemSelected($event, item)" [ngClass]="{'active': item.expanded}">
              <fa-icon class="mat-hint" [icon]="item.icon"></fa-icon>
              <span class="mat-hint pl-h ml-q mr-q">{{ item?.name | translate}}</span>
              <span class="translucide mat-hint"> | {{item?.children?.length}}</span>
              <span fxFlex></span>
              <button class="action-button" mat-icon-button [@indicatorRotate]="item.expanded ? 'expanded': 'collapsed'" (click)="createElement($event, item)" [matTooltip]="item.tooltip | translate" [matTooltipShowDelay]="650">
                <fa-icon class="mat-hint" icon="plus"></fa-icon>
              </button>
            </a>
            <div *ngIf="item.expanded">
              <ng-container *ngFor="let child of item.children">
                <a mat-list-item (click)="onItemSelected($event, child)" [ngClass]="{'expanded': child.expanded}">
                  <span class="mat-hint pl-1 ml-1 truncate">{{child?.name}}</span>
                  <span fxFlex></span>
                  <button class="action-button" mat-icon-button [matMenuTriggerFor]="menuOptionsId" attr.aria-label="{{'OPTION_MENU' | translate}}" (click)=$event.stopPropagation()>
                    <fa-icon class="mat-hint" icon="ellipsis-v"></fa-icon>
                  </button>
                </a>
                <mat-menu #menuOptionsId="matMenu">
                  <ng-container *ngFor="let option of menuOptions">
                    <button *ngIf="!option.divider else divider" mat-menu-item (click)="openMenuOption($event, item, child, option)">
                      <fa-icon class="mat-icon-16 mat-hint" [icon]="option.icon"></fa-icon>
                      <span class="truncate">{{option.name | translate}}</span>
                    </button>
                  </ng-container>
                  <ng-template #divider>
                    <mat-divider></mat-divider>
                  </ng-template>
                </mat-menu>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </mat-nav-list>
    </div>

    <!-- Configuration -->
    <mat-nav-list class="m-0 p-0 last-item">
      <a mat-list-item [routerLink]="[ '/classroom/settings' ]" routerLinkActive="active">
        <fa-icon class="mat-hint" icon="cog"></fa-icon>
        <span class="mat-hint pl-h ml-q">{{ 'SETTINGS' | translate}}</span>
      </a>
    </mat-nav-list>
  </div>
</div>
