.sidenav-container {
  height: calc(var(--vh, 1vh) * 100);
}

.side-menu-container {
  width: 100%;
  height: 100%;

  .title-logo {
    height: 80px;
  }

  .nav-list {
    max-height: calc(100vh - 80px - 4rem - 61px);
  }
}

a[mat-list-item].active span,
a[mat-list-item].active fa-icon {
  color: var(--light-theme-primary)
}

.mat-menu-item fa-icon {
  position: relative;
  top: 1px;
  margin-right: 10px;
}

.last-item {
  box-shadow: -2px 0 2px rgba($color: #000000, $alpha: 0.12);
}
