<div class="sidenav-container">
  <div class="side-menu-container" fxLayout="column" fxLayoutGap="10px">

    <!-- User -->
    <div class="user-menu" fxLayout="column" fxLayoutAlign="center center">
      <a class="user-avatar" [@animateAvatar]="linkText ? 'huge' : 'small'">
        <img class="user-avatar-image" [src]="user?.avatar || 'assets/svgs/user-default.svg'" alt="Avatar">
      </a>
      <span class="user-name mt-1"
        [@animateText]="linkText ? 'show' : 'hide'">{{ getUser.getUserLogged()?.metadata?.name || getUser.getUserLogged()?.metadata?.email}} </span>
    </div>

    <!-- Menu -->
    <mat-nav-list class="m-0 p-0" *ngFor="let menu of menuItems; index as i">
      <mat-divider *ngIf="i !== 0 && menu.length !== 0"></mat-divider>
      <a class="nav-list-item" mat-list-item *ngFor="let item of menu" [routerLink]="[ '/' + item?.url ]"
        routerLinkActive="active {{item?.theme}}">
        <mat-icon class="mat-hint">{{ item?.icon }}</mat-icon>
        <span class="mat-hint pl-h ml-q" [@animateText]="linkText ? 'show' : 'hide'">{{ item?.name | translate}}</span>
      </a>
    </mat-nav-list>
  </div>
</div>