.side-menu-container {
  width: 100%;
  height: 100vh;

  .nav-list {
    max-height: calc(100vh - 118px - var(--main-header-size) * 3);
  }
}

a[mat-list-item].active span,
a[mat-list-item].active fa-icon {
  color: var(--light-theme-primary)
}

.mat-menu-item fa-icon {
  position: relative;
  top: 1px;
  margin-right: 10px;
}

.last-item {
  box-shadow: -2px 0 2px rgba($color: #000000, $alpha: 0.12);
}