.avatar {
  max-width: 102px;
  max-height: 102px;

  &.xs {
    max-width: 212px;
    max-height: 212px;
  }
}

// Dialog
.grid-image-list {
  text-align: center;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(4, minmax(64px, 96px));
  grid-gap: 10px;

  img.avatar-image {
    display: block;
    transition: all .2s;
    border-radius: 50%;
    cursor: pointer;

    &.selected {
      background-color: #ddd;
    }

    &:hover {
      transform: scale(1.3);
    }
  }
}
