<h2 mat-dialog-title>{{'PICKUP_IMAGE' | translate}}</h2>
<div mat-dialog-content class="grid-image-list mat-card mat-elevation-z0">
	<div class="avatar-item" fxFlexAlign="center center" *ngFor="let img of data.imageList">
		<img matRipple class="avatar-image" [ngClass]="{'selected': img.selected}"
			[ngClass.xs]="{'selected': img.selected, 'xs': true}" (click)="pickup(img)" [src]="img.id | srcImage"
			alt="img.id">
	</div>
</div>
<mat-dialog-actions align="end">
	<button mat-button color="warn" mat-dialog-close>{{'CANCEL' | translate}}</button>
</mat-dialog-actions>