.avatar {
  max-width: 102px;
  max-height: 102px;

  &.xs {
    max-width: 230px;
    max-height: 230px;
  }
}

// Dialog
.image-list-container {
  text-align: center;
  overflow-x: hidden;
}

.avatar-item-list {
  transition: all .2s;

  &:hover {
    transform: scale(1.3);
  }

  .avatar.selected {
    background-color: #ddd;
  }
}