<h2 mat-dialog-title>{{'PICKUP_IMAGE' | translate}}</h2>
<div mat-dialog-content class="image-list-container mat-card mat-elevation-z0" fxLayout="row wrap">
	<div fxFlex="25" class="avatar-item-list" *ngFor="let img of data.imageList">
		<a matRipple ngClass.xs="xs" class="avatar avatar-button" [ngClass]="{'selected': img.selected}" (click)="pickup(img)">
			<img class="avatar-image" [src]="srcImage({img: img.id})" alt="img.id">
		</a>
	</div>
</div>
<mat-dialog-actions align="end">
	<button mat-button color="warn" mat-dialog-close>{{'CANCEL' | translate}}</button>
</mat-dialog-actions>