mat-card {

  &:focus {
    outline: -webkit-focus-ring-color auto 0;
  }

  .mat-icon-button.small-button {
    width: 22px;
    height: 22px;
    line-height: 22px;
  }

  .date-container {

    flex: 0 0 125px;

    .text-date {
      flex-wrap: nowrap;
    }
  }

  .student-container {
    flex-basis: 100%;

    .avatar-container {
      flex: 0 0 1.6rem;

      &.archived {
        flex: 0 0 3.1rem;
      }
    }

    .student-name {
      text-align: right;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .day-content-container {
    .day-title {
      line-height: 1.2;
    }

    .action-buttons button {
      margin-right: -5px;
      margin-bottom: -5px;
    }
  }
}
