<mat-card class="p-1 mt-h mb-h mat-elevation-z0 aumente" [ngClass]="{'archived-student': !day?.hideStudent && (day?.archived || day?.student?.archived) || (day?.hideStudent && day?.archived)}" matRipple [routerLink]="[ '/aula/dia' , day?.id ]">

  <div class="day-header mb-1" fxLayout="row" fxLayoutAlign="space-between center">

    <div class="date-container">
      <!-- Favorite -->
      <button class="action-button small-button mr-q" mat-icon-button (click)="quickAction($event, 'favorite')">
        <fa-icon [ngClass]="{'star-active': day?.favorite}" class="mat-icon-16 mat-hint" icon="star"></fa-icon>
      </button>

      <!-- Archived -->
      <button class="action-button small-button mr-h" mat-icon-button (click)="quickAction($event, 'archived')">
        <fa-icon [ngClass]="{'error-color': day?.archived}" class="mat-icon-16 mat-hint ml-q" icon="box"></fa-icon>
      </button>

      <!-- Date -->
      <span class="mat-small mat-hint mr-q text-date">{{day?.date | date: 'd MMM, yy'}}</span>
    </div>

    <div *ngIf="!day?.hideStudent && day?.student" class="student-container" fxLayout="row" fxLayoutAlign="end center">
      <!-- Name -->
      <a [routerLink]="[ '/aula/alumno', day?.student?.id ]" class="mat-small mat-hint student-name">{{day?.student?.personal?.name}}</a>

      <!-- Avatar -->
      <div fxLayout="row" fxLayoutAlign="end center" class="avatar-container ml-h" [ngClass]="{archived: day?.student?.archived}">
        <a [routerLink]="[ '/aula/alumno', day?.student?.id ]">
          <img class="avatar avatar-xs p-0 aumente aumente-big" [src]="day?.student?.personal?.avatar | srcImage" alt="Avatar">
        </a>
        <fa-icon *ngIf="day?.student?.archived" [ngClass]="{'error-color': day?.student?.archived}" class="mat-icon-18 mat-hint ml-q" icon="box"></fa-icon>
      </div>


    </div>

  </div>

  <!-- Day content -->
  <div class="day-content-container" fxLayout="row" fxLayoutAlign="space-between end">
    <div class="day-content" fxLayout="column" fxLayoutAlign="start start">
      <!-- Title -->
      <span class="mat-h3 mb-q day-title">{{day?.title}}</span>

      <!-- Content -->
      <div class="day-content-text txt-1 truncate-2 mat-hint">
        {{day?.content | stripHTML}}
      </div>
    </div>
    <div class="action-buttons" fxLayout="row" fxLayoutAlign="end center">
      <!-- Edit -->
      <button class="action-button" mat-icon-button (click)="editDay($event)">
        <fa-icon class="mat-icon-18 mat-hint" icon="pen"></fa-icon>
      </button>
      <!-- Delete -->
      <!-- <button class="action-button" mat-icon-button (click)="deleteDay($event)">
        <fa-icon class="mat-icon-18 mat-hint" icon="trash"></fa-icon>
      </button> -->
    </div>
  </div>

</mat-card>
