.header-info {

  .header-info-title,
  .header-info-name {
    line-height: 1.25;
  }
}

.day-container {
  max-height: 80px;
  font-size: .9rem;
}

.text-date {
  min-width: 70px;
  text-align: right;
}
