<form [formGroup]="subjectFormGroup" autocomplete="off" class="mat-typography">
  <header class="dialog-header padding-content-h pt-1 pb-1" fxLayout="row" fxLayoutAlign="space-between center">
    <!-- Title -->
    <h2 class="m-0" mat-dialog-title>
      {{(data.isClone ? 'CLONE_SUBJECT' : data?.entity?.id ? 'EDIT_SUBJECT' : 'CREATE_SUBJECT') | translate}}
    </h2>

    <!-- Close dialog -->
    <button class="button-close action-button" mat-icon-button attr.aria-label="{{'CANCEL' | translate}}" (click)="cancel()">
      <fa-icon class="mat-icon-22 mat-hint" icon="times"></fa-icon>
    </button>
  </header>

  <section class="dialog-content" fxLayout="column" fxLayoutAlign="start">
    <!-- Subtitle -->
    <p class="padding-content-h mb-h pb-h mat-hint">{{'SUBJECT.CREATION_SUBTITLE' | translate}}.</p>

    <div class="padding-content-h mb-q" fxLayout="row wrap" fxLayoutAlign="space-between center">

      <!-- Name -->
      <mat-form-field [appearance]="'inputAppearance' | settingValue" fxFlex="40" fxFlex.xs="100">
        <mat-label>{{'FORM.SUBJECTS_NAME' | translate}}
        </mat-label>
        <input matInput required formControlName="nameCtrl" attr.aria-label="{{'FORM.SUBJECTS_NAME' | translate}}" autocomplete="off">
        <fa-icon matPrefix class="mat-icon-20 mat-hint pr-1" icon="font"></fa-icon>
        <mat-error *ngIf="subjectFormGroup.controls.nameCtrl.hasError('nameTaken')">
          {{'ERR.SUBJECT_EXISTS' | translate}}
        </mat-error>
        <mat-error *ngIf="subjectFormGroup.controls.nameCtrl.hasError('required')">
          {{'ERR.FIELD_REQUIRED' | translate}}
        </mat-error>
      </mat-form-field>

      <!-- Student list -->
      <a13-select-student [multiple]="true" formControlName="studentListCtrl" hint="HINT.SUBJECT_STUDENT_LIST" fxFlex="59" fxFlex.xs="100">
      </a13-select-student>
    </div>

  </section>

  <footer class="dialog-footer padding-content-h pt-1 pb-1" fxLayout="row" fxLayoutAlign="end center">
    <!-- Action buttons -->
    <button mat-button color="warn" attr.aria-label="{{'CANCEL' | translate}}" (click)="cancel()">{{'CANCEL' | translate}}</button>
    <button class="ml-h" mat-flat-button [color]="data.isClone || !data?.entity?.id ? 'primary' : 'accent'" mat-dialog-close [disabled]="subjectFormGroup.invalid || validatingName" (click)="save()" attr.aria-label="{{'SAVE' | translate}}">{{(data.isClone ? 'CLONE' : data?.entity?.id ? 'SAVE' : 'CREATE_SUBJECT') | translate}}</button>
  </footer>
</form>
