@mixin colorItem($color) {
  border-left-color: $color;

  span,
  mat-icon {
    color: $color;
  }
}

.sidenav-container {
  min-width: 60px;
  height: calc(100vh - 200px);

  span,
  mat-icon {
    color: lighten(grey, 10%);
  }
}

.side-menu-container {
  height: 100%;
}

.user-menu {
  padding: 2em 0;

  .user-avatar {
    width: 64px;
    height: 64px;
    padding: .5em;
    border: 1px solid lighten(grey, 40%);
    border-radius: 50%;
  }
}

.nav-list-item {
  box-sizing: border-box;

  &.active {
    background-color: #0000000a;
    border-left-style: solid;
    border-left-width: 4px;
    transition: all .2s;

    &.blue {
      @include colorItem(#1976D2);
    }

    &.red {
      @include colorItem(#D32F2F);
    }

    &.green {
      @include colorItem(#388E3C);
    }
  }
}