.sidenav-container {
  span {
    color: var(--font-light-color);
  }
}

.side-menu-container {
  height: 100%;
}

.user-menu {
  padding: 2em 0;

  .user-avatar {
    max-width: 64px;
    width: 100%;
    padding: .5em;
    border: 1px solid var(--border-color);
    border-radius: 50%;
  }
}

.nav-list-item {
  box-sizing: border-box;
  border-left-style: solid;
  border-left-width: 4px;
  border-left-color: transparent;

  mat-icon.blue {
    color: var(--accent-color);
  }

  &.active {
    background-color: var(--bg-active-color);
    border-left-color: var(--warn-color);
    transition: all .2s;

    span {
      color: black;
    }
  }
}