<div class="mb-2" fxLayout="row" fxLayoutAlign="space-between center">
  <!-- Title -->
  <h2 class="m-0" mat-dialog-title>{{(data.idStudent ? 'EDIT_STUDENT' : 'ADD_STUDENT') | translate}}</h2>

  <!-- Sign Out -->
  <button class="button-close" mat-icon-button mat-dialog-close attr.aria-label="{{'CANCEL' | translate}}">
    <fa-icon class="mat-icon-22 mat-hint" icon="times"></fa-icon>
  </button>
</div>

<mat-dialog-content class="mat-typography">

  <form [formGroup]="studentFormGroup" autocomplete="off">

    <!-- STUDENT -->
    <h3 class="mat-h2 mat-hint">{{'STUDENT_PERSONAL_DATA' | translate}}</h3>
    <div formGroupName="personalFormGroup" class="mb-2 mt-1 f-wrap" fxLayout="row" fxLayout.xs="column"
      fxLayoutAlign="start center">

      <!-- Avatar -->
      <a13-pickup-image ngClass.xs="full-avatar mb-1 pb-h" class="avatar-selected" [(image)]="student.personal.avatar"
        [imageList]="avatars" fxFlex="nogrow">
      </a13-pickup-image>

      <div class="f-wrap" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxFlex
        ngClass.xs="full">

        <!-- Name -->
        <mat-form-field appearance="outline" fxFlex="100">
          <mat-label>{{'FORM.NAME' | translate}}{{'AND' | translate}} {{'FORM.SURNAME' | translate | lowercase}}
          </mat-label>
          <input matInput required formControlName="nameCtrl" attr.aria-label="{{'FORM.NAME' | translate}}"
            autocomplete="off">
          <fa-icon matPrefix class="mat-icon-20 mat-hint pr-1" icon="signature"></fa-icon>
        </mat-form-field>

        <!-- Birthdate -->
        <mat-form-field class="mb-1" appearance="outline" fxFlex="35">
          <mat-label>{{'FORM.BIRTHDATE' | translate}}</mat-label>
          <input class="pl-h" matInput formControlName="birthdateCtrl" [matDatepicker]="birthdatePicker" [max]="maxDate">
          <mat-datepicker #birthdatePicker></mat-datepicker>
          <mat-datepicker-toggle class="mat-hint" matPrefix [for]="birthdatePicker">
          </mat-datepicker-toggle>
          <mat-hint align="start">{{'HINT.BIRTHDATE' | translate}}</mat-hint>
        </mat-form-field>

        <!-- Academic course -->
        <mat-form-field appearance="outline" fxFlex="65">
          <mat-label>{{'FORM.ACADEMIC_COURSE' | translate}}</mat-label>
          <mat-select formControlName="academicCourseCtrl" [compareWith]="equals"
            attr.aria-label="{{'FORM.ACADEMIC_COURSE' | translate}}">
            <mat-option>-- {{'NONE' | translate}} --</mat-option>
            <mat-optgroup *ngFor="let group of academicCourses" [label]="group.name | translate">
              <mat-option *ngFor="let course of group.group" [value]="course">
                {{course.viewValue}} {{group.name | translate | lowercase}}
              </mat-option>
            </mat-optgroup>
          </mat-select>
          <fa-icon matPrefix class="mat-icon-20 mat-hint pr-1" icon="school"></fa-icon>
        </mat-form-field>

        <!-- Details -->
        <mat-form-field appearance="outline" fxFlex="65">
          <mat-label>{{'FORM.OBSERVATIONS' | translate}}</mat-label>
          <textarea matInput formControlName="observationsCtrl" rows="4"></textarea>
          <!-- <fa-icon matPrefix class="mat-icon-20 mat-hint pr-1" icon="file-alt"></fa-icon> -->
          <mat-hint align="start">{{'HINT.OBSERVATIONS' | translate}}</mat-hint>
        </mat-form-field>
      </div>
    </div>

    <!-- CONTACT INFORMATION -->
    <h3 class="mat-h2 mat-hint">{{'CONTACT.TITLE' | translate}}</h3>
    <div formGroupName="contactInformationFormGroup" class="mb-2 mt-1">

      <!-- Phones -->
      <div class="phone-list" *ngIf="arrayPhones.controls" formArrayName="phonesFormArray">
        <div *ngFor="let phone of arrayPhones.controls; let i = index" fxLayout="row"
          fxLayoutAlign="space-between center">

          <ng-container formGroupName="{{i}}">

            <!-- Name -->
            <mat-form-field fxFlex="45" appearance="outline">
              <mat-label>{{'FORM.NAME' | translate}}</mat-label>
              <input matInput formControlName="contactPhoneNameCtrl" attr.aria-label="{{'FORM.NAME' | translate}}"
                maxlength="20" autocomplete="off">
              <!-- <fa-icon matPrefix class="mat-icon-18 mat-hint pr-1" icon="user"></fa-icon> -->
            </mat-form-field>

            <!-- Phone -->
            <mat-form-field fxFlex="45" appearance="outline">
              <mat-label>{{'FORM.PHONE' | translate}}</mat-label>
              <input matInput formControlName="contactPhoneNumberCtrl" attr.aria-label="{{'FORM.PHONE' | translate}}"
                autocomplete="off">
              <!-- <fa-icon matPrefix class="mat-icon-18 mat-hint pr-1" icon="phone-alt"></fa-icon> -->
            </mat-form-field>

            <!-- Delete phone -->
            <button mat-icon-button color="warn" class="mb-1" attr.aria-label="{{'DELETE' | translate}}"
              (click)="removePhone(i)">
              <fa-icon class="mat-icon-18" icon="trash"></fa-icon>
            </button>
          </ng-container>
        </div>
      </div>

      <!-- New phone -->
      <div class="pl-q pr-q" fxLayout="row" fxLayoutAlign="end center">
        <button class="button-text-icon" mat-stroked-button attr.arial-label="{{'DELETE' | translate}}"
          (click)="addPhone(null, true)" [disabled]="arrayPhones.invalid">
          <span class="text-button mat-hint mr-1">{{'HINT.ADD_NEW_PHONE' | translate}}</span>
          <fa-icon class="mat-icon-18" icon="plus"></fa-icon>
        </button>
      </div>
    </div>

    <!-- MUSICAL -->
    <h3 class="mat-h2 mat-hint">{{'STUDENT_CONSERVATORY_DATA' | translate}}</h3>
    <div formGroupName="musicalFormGroup" class="mb-H mt-1 f-wrap" fxLayout="row" fxLayout.xs="column"
      fxLayoutAlign="space-between center">

      <!-- Conservatory course -->
      <mat-form-field appearance="outline" fxFlex="35">
        <mat-label>{{'FORM.CONSERVATORY_COURSE' | translate}}</mat-label>
        <mat-select formControlName="courseCtrl" [compareWith]="equals"
          attr.aria-label="{{'FORM.CONSERVATORY_COURSE' | translate}}">
          <mat-option>-- {{'NONE' | translate}} --</mat-option>
          <mat-optgroup *ngFor="let group of conservatoryCourses" [label]="group.name | translate">
            <mat-option *ngFor="let course of group.group" [value]="course">
              {{course.viewValue}} {{group.name | translate | lowercase}}
            </mat-option>
          </mat-optgroup>
        </mat-select>
        <fa-icon matPrefix class="mat-icon-20 mat-hint pr-1" icon="graduation-cap"></fa-icon>
      </mat-form-field>

      <!-- Teacher-->
      <mat-form-field appearance="outline" fxFlex="65">
        <mat-label>{{'FORM.CONSERVATORY_TEACHER' | translate}}</mat-label>
        <input matInput formControlName="teacherCtrl" attr.aria-label="{{'FORM.CONSERVATORY_TEACHER' | translate}}"
          autocomplete="off">
        <fa-icon matPrefix class="mat-icon-20 mat-hint pr-1" icon="chalkboard-teacher"></fa-icon>
      </mat-form-field>

      <!-- Instrument -->
      <mat-form-field appearance="outline" fxFlex="50">
        <mat-label>{{'FORM.INSTRUMENT' | translate}}</mat-label>
        <mat-select formControlName="instrumentCtrl" [compareWith]="equals"
          attr.aria-label="{{'FORM.INSTRUMENT' | translate}}">
          <mat-option>-- {{'NONE' | translate}} --</mat-option>
          <mat-optgroup *ngFor="let group of instruments" [label]="group.name | translate">
            <mat-option *ngFor="let instrument of group.group" [value]="instrument">
              {{'INSTRUMENT.' + instrument.viewValue | translate}}
            </mat-option>
          </mat-optgroup>
        </mat-select>
        <fa-icon matPrefix class="mat-icon-20 mat-hint pr-1" icon="guitar"></fa-icon>
      </mat-form-field>

    </div>

    <!-- CLASSROOM -->
    <h3 class="mat-h2 mat-hint">{{'CLASSROOM' | translate}}</h3>
    <div formGroupName="classroomFormGroup" class="mb-H mt-1 f-wrap" fxLayout="row" fxLayout.xs="column"
      fxLayoutAlign="space-between center">

      <!-- Classroom -->
      <mat-form-field class="mb-1" appearance="outline" fxFlex="50">
        <mat-label>{{'CLASSROOM' | translate}}</mat-label>
        <mat-select formControlName="classroomIdCtrl" [compareWith]="equals" multiple
          attr.aria-label="{{'CLASSROOM' | translate}}">
          <mat-option *ngFor="let classroom of subjects" [value]="classroom">
            {{classroom.viewValue}}
          </mat-option>
        </mat-select>
        <fa-icon matPrefix class="mat-icon-20 mat-hint pr-1" icon="chalkboard"></fa-icon>
        <mat-hint align="start">{{'HINT.CLASSROOM' | translate}}</mat-hint>
      </mat-form-field>

      <!-- Subjects -->
      <mat-form-field appearance="outline" fxFlex="50">
        <mat-label>{{'FORM.SUBJECTS' | translate}}</mat-label>
        <mat-select formControlName="subjectsCtrl" [compareWith]="equals" multiple
          attr.aria-label="{{'FORM.SUBJECTS' | translate}}">
          <mat-option *ngFor="let subject of subjects" [value]="subject">
            {{subject.viewValue}}
          </mat-option>
        </mat-select>
        <fa-icon matPrefix class="mat-icon-20 mat-hint pr-1" icon="book"></fa-icon>
        <mat-hint align="start">{{'HINT.SUBJECTS' | translate}}</mat-hint>
      </mat-form-field>
    </div>
  </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button color="warn" mat-dialog-close
    attr.aria-label="{{'CANCEL' | translate}}">{{'CANCEL' | translate}}</button>
  <button class="ml-h" mat-flat-button color="primary" mat-dialog-close [disabled]="studentFormGroup.invalid"
    (click)="save()" attr.aria-label="{{'SAVE' | translate}}">{{'SAVE' | translate}}</button>
</mat-dialog-actions>