.avatar-selected {
  padding: 0 5px;
  max-width: 130px;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.full-avatar {
  width: 100%;
  max-width: 230px;
  max-height: 230px;
}

.full {
  width: 100%;
  max-width: 100%;
}

.phone-list {

  .phone {
    margin-bottom: -5px;
  }

  .delete-phone-button {
    margin-right: -7px;
  }
}


.button-text-icon {

  fa-icon {
    position: relative;
    top: 1px;
    color: var(--light-theme-accent);
  }

  &[disabled="true"] fa-icon {
    filter: grayscale(100%);
  }

  .text-button {
    position: relative;
    top: 1px;
    margin-left: 5px;
  }
}
