<div class="toast">
  <ng-container [ngSwitch]="true">

    <span *ngSwitchCase="data.messageType === 'welcome'">
      {{ data.message | translate:{'name': data.name} }}
    </span>

    <span *ngSwitchCase="case(data.messageType)" [ngClass]="data.messageType" fxLayout="row"
      fxLayoutAlign="start center">
      <fa-icon class="mat-icon-18 mr-1" [icon]="data.icon"></fa-icon>
      {{ data.message | translate }}
    </span>

    <span *ngSwitchDefault>
      {{ data.message | translate }}
    </span>

    <span fxFlex></span>

    <button mat-button (click)="close()">{{'OK' | translate}}</button>
  </ng-container>
</div>