.success fa-icon {
  color: var(--other-succes-color)
}

.info fa-icon {
  color: var(--other-info-color)
}

.warning fa-icon {
  color: var(--other-warning-color)
}

.error fa-icon {
  color: var(--other-error-color)
}
