<div class="toast">

  <div [ngSwitch]="true" [ngClass]="data?.type" fxLayout="row" fxLayoutAlign="start center">

    <!-- Icon -->
    <fa-icon class="mat-icon-18 mr-1" [icon]="data?.icon || 'info'"></fa-icon>

    <!-- Welcome -->
    <span *ngSwitchCase="data?.type === 'welcome'" class="info">
      {{ data?.text | translate:{'name': data?.name} }}
    </span>

    <!-- Types -->
    <span *ngSwitchCase="case(data?.type)">
      {{ data?.text | translate }}
    </span>

    <!-- Default -->
    <span *ngSwitchDefault fxLayout="row">
      {{ data?.text | translate }}
    </span>

    <!-- Spacer -->
    <span fxFlex></span>

    <div class="pl-q" fxFLex="nogrow">
      <!-- buttons -->
      <button *ngIf="!data?.navigate && !data?.action" mat-button (click)="close()">{{'OK' | translate}}</button>
      <button *ngIf="data?.navigate" mat-flat-button color="primary" [routerLink]="data?.navigate?.route" (click)="close()">{{data?.navigate?.text | translate}}</button>
      <button *ngIf="data?.action" mat-flat-button color="accent" (click)="data?.action?.f(); snackRef.dismiss()">{{data?.action?.text | translate}}</button>
    </div>
  </div>
</div>
