<!-- Title -->
<h2 class="mat-h1 pt1">{{title}}</h2>

<!-- Filter -->
<mat-form-field>
  <input matInput [(ngModel)]="studentFilter" (ngModelChange)="searchStudent($event)" placeholder="Buscar alumno" aria-label="Buscar alumno" autocomplete="off">
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<!-- List -->
<div *ngIf="studentListFiltered.length" class="pt1 pbQ" fxLayout="row" fxLayoutAlign="space-between center">
  <ng-container *ngFor="let col of columns">
    <div (click)="sort(col.id)" class="row {{col.class}}" [ngClass]="{'active': matchOrder(col.id)}">
      <button mat-button aria-label="Ordenar columna">
        <span>{{col.name}}</span>
        <mat-icon class="mat-icon-18 mlH arrow-icon">{{getArrow(col.id)}}</mat-icon>
      </button>
    </div>
  </ng-container>
</div>

<!-- Students -->
<ng-container *ngFor="let student of studentListFiltered | orderBy : orderByProperty">
  <a13-student [(student)]="student"></a13-student>
</ng-container>

<!-- Empty list -->
<h3 *ngIf="!studentListFiltered.length" class="mat-h1 mt3 txt-center  light-text">¯\_(ツ)_/¯</h3>