.mat-form-field {
  width: 33%;

  mat-icon {
    color: var(--font-light-color);
  }
}

.row:hover {
  cursor: pointer;
}

.active {
  color: var(--font-link-color);
}

.user-avatar-image {
  max-width: 40px;
  width: 100%;
}

.arrow-icon {
  position: relative;
  top: 2px;
}