<!-- Title -->
<h2 class="mat-h1 pt1">{{title | translate}}</h2>

<!-- Filter -->
<mat-form-field>
  <input matInput [(ngModel)]="studentFilter" (ngModelChange)="searchStudent($event)"
    placeholder="{{'SEARCH_STUDENT' | translate}}" attr.aria-label="{{'SEARCH_STUDENT' | translate}}"
    autocomplete="off">
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<!-- List -->
<div *ngIf="studentListFiltered.length" class="pt1 pbQ" fxLayout="row" fxLayoutAlign="space-between center" matSort
  matSortDisableClear (matSortChange)="sortData($event)" [matSortActive]="defaultSort"
  [matSortDirection]="defaultSortDir" matSortStart="desc">
  <ng-container *ngFor="let col of columns">
    <div class="row {{col.class}}" [mat-sort-header]="col.id">
      <button mat-button attr.aria-label="{{'SORT_COLUMN' | translate}} {{col.name | translate}}"
        [color]="isActive(col.id)">
        <span>{{col.name | translate}}</span>
      </button>
    </div>
  </ng-container>
</div>

<!-- Students -->
<ng-container *ngFor="let student of studentListFiltered">
  <a13-student [(student)]="student"></a13-student>
</ng-container>

<!-- Empty list -->
<h3 *ngIf="!studentListFiltered.length" class="mat-h1 mt3 txt-center mat-hint">{{'MSG.NOTHING_MAN' | translate}}</h3>