<!-- Title -->
<h2 class="mat-h1">{{title}}</h2>

<!-- Filter -->
<mat-form-field>
  <input matInput [(ngModel)]="search" placeholder="Buscar alumno">
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<!-- Columns -->
<div class="mb1 mt2 p1 pbQ" fxLayout="row" fxLayoutAlign="space-between center">

  <!-- Name & Surname -->
  <div class="row mrH mlH secondary-text" (click)="sort('name')">
    <span class="mat-icon-16">Nombre</span>
    <mat-icon class="mat-icon-18 mlH">arrow_downward</mat-icon>
  </div>

  <!-- Phone -->
  <div class="row mrH mlH secondary-text" (click)="sort('phone')">
    <span class="mat-icon-16">Teléfono</span>
    <mat-icon class="mat-icon-18 mlH">arrow_downward</mat-icon>
  </div>

  <!-- Spacer -->
  <span class="spacer"></span>

  <!-- Type -->
  <div class="row mrH mlH secondary-text" (click)="sort('type')">
    <span class="mat-icon-16">Tipo</span>
    <mat-icon class="mat-icon-18 mlH">arrow_downward</mat-icon>
  </div>

</div>

<!-- Students -->
<ng-container *ngFor="let student of studentList | student: search">
  <a13-student [(student)]="student"></a13-student>
</ng-container>