<mat-toolbar class="header" [color]="themeName">

  <button class="menu-button ml-q mr-1" mat-icon-button (click)="toggleSinenav()" attr.aria-label="{{(sidenavState ? 'CLOSE_MENU' : 'OPEN_MENU') | translate}}">
  <!-- Menu button -->
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Title -->
  <h1 class="mat-h1">
    <a [routerLink]="[ '/aula' ]">{{title}}</a>
  </h1>

  <!-- Spacer -->
  <div class="spacer"></div>

  <!-- Sign Out -->
  <button class="menu-button mr-q" mat-icon-button (click)="logOut()" attr.aria-label="{{'SIGN.OUT' | translate}}">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>