<mat-toolbar class="header" [ngClass]="{'height-auto': !isTruncated}" [color]="themeName">
  <div class="container-max sm" fxLayout="row" fxLayoutAlign="start center">

    <!-- Back button  -->
    <button *ngIf="headerConfig.back" class="mr-h menu-button" [routerLink]="[ headerConfig.back ]" mat-icon-button
      attr.aria-label="{{'BACK' | translate}}">
      <fa-icon class="mat-icon-18" icon="arrow-left"></fa-icon>
    </button>

    <!-- Title -->
    <h2 *ngIf="headerConfig.title" class="title pt-h pb-h" (click)="truncate()" [ngClass]="{'truncate': isTruncated}">
      {{headerConfig.title | translate}}
    </h2>

    <!-- Spacer -->
    <span fxFlex></span>

    <!-- Menu phone -->
    <button *ngIf="headerConfig.student?.contactInformation?.phones?.length" class="menu-button" mat-icon-button
      [matMenuTriggerFor]="menuPhones" attr.aria-label="{{'PHONE_MENU' | translate}}">
      <fa-icon class="mat-icon-18" icon="phone-alt"></fa-icon>
    </button>
    <mat-menu #menuPhones="matMenu">
      <button *ngFor="let phone of headerConfig.student?.contactInformation?.phones" mat-menu-item>
        <a class="clickable-phone-number" href="{{'tel:' + phone.number}}">
          <span *ngIf="phone.name" class="mat-hint">{{phone.name}}:</span>
          <span class="phone">{{phone.number}}</span>
        </a>
      </button>
    </mat-menu>

    <!-- Menu options-->
    <button *ngIf="headerConfig.menuOptions?.length" class=" mr-0 menu-button" mat-icon-button
      [matMenuTriggerFor]="menuOptions" attr.aria-label="{{'OPTION_MENU' | translate}}">
      <fa-icon class="mat-icon-18" icon="ellipsis-v"></fa-icon>
    </button>
    <mat-menu #menuOptions="matMenu">
      <button *ngFor="let item of headerConfig.menuOptions" mat-menu-item
        (click)="openDialog(item.dialog?.component, item.dialog?.config)">
        <fa-icon class="mat-icon-16 mat-hint" [icon]="item.icon"></fa-icon>
        <span>{{item.name | translate}}</span>
      </button>
    </mat-menu>

    <!-- Sign Out -->
    <button *ngIf="headerConfig.signOut" class="menu-button mr-q" mat-icon-button (click)="logOut()"
      attr.aria-label="{{'SIGN.OUT' | translate}}">
      <fa-icon class="mat-icon-18" icon="sign-out-alt"></fa-icon>
    </button>

  </div>
</mat-toolbar>