// General
.container {
  overflow-y: auto;

  &-padd {
    padding: var(--main-padding-size);
    max-height: calc(100vh - var(--main-padding-size) * 2 - var(--main-header-size) * 2);
  }

  &-nopadd {
    max-height: calc(100vh - var(--main-header-size) * 2);
  }
}

.padding-content {
  padding: var(--main-padding-size);
}

.container-max {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;

  &.lg {
    max-width: var(--main-lg-size);
  }

  &.sm {
    max-width: var(--main-sm-size);
  }

  &.xs {
    max-width: var(--main-xs-size);
  }
}

.mat-dialog-content {
  overflow-x: hidden !important;
}

.aumente {
  transition: all .1s ease-in-out !important;
  cursor: pointer;

  &:hover {
    transform: scale(1.015);
    box-shadow: 0 4px 4px #0002;
  }

  &:focus {
    outline: -webkit-focus-ring-color auto 0;
  }
}

// Colors
.color-primary {
  color: $main-color;
}

.success fa-icon,
.success-color {
  color: var(--other-success-color) !important;
}

.welcome fa-icon,
.info fa-icon,
.info-color {
  color: var(--other-info-color) !important;
}

.warning fa-icon,
.warning-color,
.star-active {
  color: var(--other-warning-color) !important;
}

.error fa-icon,
.error-color {
  color: var(--other-error-color) !important;
}

mat-form-field {
  fa-icon {
    position: relative;
    top: -4px;
    margin-left: 0.5rem;
  }
}

.button-close fa-icon {
  position: relative;
  top: 1px;
}

// Avatar button image
.avatar {
  display: block;
  max-width: 64px;
  max-height: 64px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 8px;

  &-button {
    cursor: pointer;
    transition: .2s;
  }

  &-button:hover {
    padding: 7px !important;
  }

  &-xs {
    max-width: 28px;
  }

  .avatar-image {
    width: 100%;
    max-width: 100%;
    border-radius: 50%;
  }
}

// Border
.border-theme {
  border-width: map-get(map-get($sizes, main), border-size);
  border-style: solid;
}

// Badge
.badge {
  padding: 2px 4px;
  margin: 2px;
  font-size: 12px;
  border-radius: 3px;
  border: 1px solid transparent;

  &:first-child {
    margin-left: 0;
  }

  &.badge-stroked {
    background-color: transparent;
  }
}

// Editor
.angular-editor {
  width: 100%;
  padding: 0 5px;
  box-sizing: border-box;

  .ck {

    .ck-editor__editable_inline {
      word-break: break-all;
      min-height: 200px;
      max-height: 200px;
      max-width: 100%;
    }

    .ck-editor__top .ck-sticky-panel .ck-toolbar,
    .ck-editor__top .ck-sticky-panel .ck-toolbar.ck-rounded-corners {
      border-radius: 5px 5px 0 0 !important;
    }

    .ck-editor__main {
      &>.ck-editor__editable {
        background: transparent;
        border-radius: 0 0 5px 5px !important;

        &.ck-focused {
          border-width: 0 2px 2px 2px;
        }
      }
    }
  }
}

// Link
.link {
  color: map-get(map-get($colors, other), link-color);
}

// Scrollbar
::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: map-get(map-get($sizes, main), scroll-size);
}

::-webkit-scrollbar-button:increment,
::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar:horizontal {
  height: map-get(map-get($sizes, main), scroll-size);
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: map-get(map-get($sizes, main), scroll-size) * 2;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .3);
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}

::-webkit-scrollbar-track {
  border-radius: map-get(map-get($sizes, main), scroll-size) * 2;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .3);
}

// Overflow scroll
.overflow-scroll-container {
  height: 100%;
  overflow: hidden;

  .overflow-scroll {
    flex: 1 0 auto;
    min-height: auto;

    .overflow-scroll-content {
      overflow-y: auto;
    }
  }
}

// Shadows
.shadow-top {
  box-shadow:
    0px -2px 2px 0px rgba(34, 34, 34, 0.04),
    0px -4px 3px 0px rgba(34, 34, 34, 0.02),
    0px -1px 4px 0px rgba(34, 34, 34, 0.01) !important;
}

.shadow-bottom {
  box-shadow:
    0px 2px 1px 0px rgba(34, 34, 34, 0.01),
    0px 4px 2px 0px rgba(34, 34, 34, 0.01),
    0px 1px 2px 0px rgba(34, 34, 34, 0.01) !important;
}