@import "~@angular/material/theming";

// Angular Material styles
@include mat-core;

// Palettes
$primary: mat-palette($mat-blue, 600, 400, 900); // Default, lighter, and darker hue.
$accent: mat-palette($mat-light-blue, 400, 200, 700);
$warn: mat-palette($mat-red);
// $background-color: map_get($mat-blue-grey, 50);

// Theme
$theme: mat-light-theme($primary, $accent, $warn);

// Custom background color
$custom-background-color: var(--bg-main-color);
$background: map-get($theme, background);
$background: map_merge($background, (background: $custom-background-color));
$theme: map_merge($theme, (background: $background));

// Set theme
@include angular-material-theme($theme);

// Helper color classes
.bg-primary {
  @include bg-color(var(--primary-color));
}

.bg-accent {
  @include bg-color(var(--accent-color));
}

.bg-warn {
  @include bg-color(var(--warn-color));
}

.color-primary {
  @include color(var(--primary-color));
}

.color-accent {
  @include color(var(--accent-color));
}

.color-warn {
  @include color(var(--warn-color));
}