// Google fonts

// Typography
$primary-typography: mat-typography-config($font-family: map-get($fonts, primary));
@include angular-material-typography($primary-typography);

// varela-round-regular - latin
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'),
    url('/assets/fonts/varela-round-v11-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('/assets/fonts/varela-round-v11-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

// Icons sizes
$iconSizes: (12 : 12px, 14 : 14px, 16 : 16px, 18 : 18px, 22 : 22px, 20 : 20px, 24 : 24px, 28 : 28px, 32 : 32px);
@include set-icon-classes($iconSizes);
