// Margin -1rem
.mt--1 {
  margin-top: -1rem !important;
}

.mr--1 {
  margin-right: -1rem !important;
}

.mb--1 {
  margin-bottom: -1rem !important;
}

.ml--1 {
  margin-left: -1rem !important;
}

// Margin -0.5rem
.mt--h {
  margin-top: -.5rem !important;
}

.mr--h {
  margin-right: -.5rem !important;
}

.mb--h {
  margin-bottom: -.5rem !important;
}

.ml--h {
  margin-left: -.5rem !important;
}

// Margin -0.25rem
.mt--q {
  margin-top: -.25rem !important;
}

.mr--q {
  margin-right: -.25rem !important;
}

.mb--q {
  margin-bottom: -.25rem !important;
}

.ml--q {
  margin-left: -.25rem !important;
}
