:root {
  // Colors
  --primary-color: #05cfab;
  --accent-color: #2c365b;
  --warn-color: #fc6044;

  // Fonts
  --font-main-color: #222;
  --font-light-color: #888;
  --font-header-color: #333;

  // Backgrounds
  --bg-main-color: #f0f6f5;
  --bg-hover-color: #0000000a;

  // Borders
  --border-color: #d1ddf5;

  // Sizes
  --margin-main-size: 3rem;
  --padding-main-size: 2rem;
  --border-radius-main-size: .5rem;
}