:root {
  // Colors
  --primary-color: #2c365b;
  --accent-color: #11a3da;
  --warn-color: #ef6a39;

  // Fonts
  --font-main-color: #222;
  --font-light-color: #888;
  --font-header-color: #333;
  --font-link-color: var(--accent-color); // #2f63ee;

  // Backgrounds
  --bg-main-color: #f0f4f6;
  --bg-hover-color: #eee;
  --bg-active-color: #ededed;

  // Borders
  --border-color: #d1ddf5;

  // Sizes
  --margin-main-size: 3rem;
  --padding-main-size: 2rem;
  --border-radius-main-size: .5rem;
  --header-height: 64px;
}

@media only screen and (max-width: 900px) {
  :root {
    --padding-main-size: 1.2rem;
  }
}

@media only screen and (max-width: 600px) {
  :root {
    --padding-main-size: .75rem;
    --header-height: 54px;
  }
}