<div class="credits-container p-1" fxLayout="column" fxLayoutAlign="start center">

  <!-- Flaticon avatars -->
  <span class="mat-hint mb-q">Los avatares de los alumnos han sido diseñados por <a class="link" target="_blank" href="https://www.freepik.com" title="Freepik">Freepik</a> desde <a class="link" target="_blank" href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></span>

  <!-- @aledroner -->
  <span class="mat-hint"><b>Aula13</b> ha sido programada enteramente con mucho
    <fa-icon class="mat-icon-16 mat-hint error-color" icon="heart"></fa-icon>
    por <a class="link" target="_blank" href="https://github.com/aledroner" title="Github de @aledroner">@aledroner</a>
  </span>

</div>
