.card-container {
  margin-top: 1rem;

  .first-of-month {
    margin-top: 1rem;

    &:first-child {
      margin-top: 0;
    }

    &.mat-button span {
      text-transform: capitalize;
    }
  }
}
